html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Neucha', sans-serif;
}

.paper {
    background-color: #fff;
    border: 1px solid #c1c0bd;
    -moz-box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 5px 35px -9px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 2rem;
}

html {
    font-size: 82.3%;
}

@media (min-width: 60em) {
    html {
        font-size: 86.5%;
    }
}

@media (min-width: 78em) {
    html {
        font-size: 90.6%;
    }
}

body {
    font-size: 1.5rem;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
